<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->

<connectionStrings xdt:Transform="Replace" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="umbracoDbDSN" connectionString="server=somedbserver;database=hfea.website.umbraco;user id=hfea_dev;password="
    providerName="System.Data.SqlClient"/>
  <add name="HfeaEntities" connectionString="data source=domedbserver;initial catalog=hfea.website.application;user id=hfea_dev;password="
    providerName="System.Data.SqlClient"/>
</connectionStrings>