<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="umbracoDbDSN"
		connectionString="Server=tcp:yourservername.database.windows.net,1433;Database=ifq-website-umbraco;User ID=;Password=;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
		providerName="System.Data.SqlClient"/>
	<add name="HfeaEntities"
		connectionString="data source=tcp:yourservername.database.windows.net,1433;initial catalog=hfea.website.application;user id=;password=;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
		providerName="System.Data.SqlClient"/>
</connectionStrings>