<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings xdt:Transform="Replace" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="umbracoDbDSN" connectionString="Server=localhost;Database=2016-06-14-website-umbraco;user id=sa;password=" providerName="System.Data.SqlClient" />
  <add name="HfeaEntities" connectionString="data source=localhost;initial catalog=hfea.website.application;user id=sa;password=" providerName="System.Data.SqlClient" />
</connectionStrings>
