<?xml version="1.0"?>
<hfea xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <generic xdt:Transform="Replace"
    apiUrl="http://somewebapi.azurewebsites.net"
    appInsightsId = "00000000-0000-0000-0000-000000000000"
    />
  
  <keyPages xdt:Transform="SetAttributes()"
    clinicProfile="1073"
    changesDisapprovalEmail="1167"
    commentSubmissionEmail="1168"
    codeOfPractice="1082"
    footerSettings="1100"
    search="1169"
    homepage="1052"
    clinicProfileFeedback="1152"
    compareClinics="1190"
    allCentres="1170"
    settings="1099"
      />
</hfea>
