<?xml version="1.0"?>
<hfea xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <generic xdt:Transform="Replace"
    apiUrl="http://somewebapi.azurewebsites.net"
    />
  <keyPages xdt:Transform="SetAttributes()"
          codeOfPractice="1130"
          clinicProfile="1133"
          footerSettings="1153"
          commentSubmissionEmail="1289"
          homepage="1052"
          clinicProfileFeedback="1314"
          compareClinics="1190"
          search="1293"          
      allCentres="1329"
      settings="1124"
        />
</hfea>