
	<div class="results-section">
		<a class="btn btn-block btn-large btn-default mb-20" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			Change search criteria
		</a>
		<div class="collapse" id="collapseExample">
		  	<div class="well">
				<form>
					<div class="row mb-20">
						<div class="form-group col-md-6">
						    <label for="exampleInputEmail1">Search by postcode</label>
						    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Postcode / Region">
						    <p>> Why is this important?</p>
						</div>
						<div class="form-group col-md-4">
						    <label for="exampleInputEmail1">Distance from postcode</label>
						    <div class="row">
						    	<div class="col-md-6">
						    		<p>0</p>
						    	</div>
						    	<div class="col-md-6">
								    <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
								    	<div class="btn-group" role="group">
									  		<button type="button" class="btn btn-default">-</button>
										</div>
								    	<div class="btn-group" role="group">
									  		<button type="button" class="btn btn-default">+</button>
										</div>
									</div>
						    	</div>
							</div>
						</div>
					</div>
					<div class="row mb-20">
						<div class="form-group col-md-6">
					    	<h3>Treatments</h3>
					    	<div class="radio">
							  	<label>
							    	<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" >
							    	IVF
							  	</label>
							</div>
							<div class="radio">
							  	<label>
							    	<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
							    	ICSI
							  	</label>
							</div>
							<div class="radio">
							  	<label>
							   		<input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" >
							    	Surgical sperm collection
							  	</label>
							</div>
							<div class="radio">
							  	<label>
							    	<input type="radio" name="optionsRadios" id="optionsRadios4" value="option4" >
							    	Ovarian tissue collection
							  	</label>
							</div>
							<div class="radio">
							  	<label>
							    	<input type="radio" name="optionsRadios" id="optionsRadios5" value="option5">
							    	In vitro maturation
							  	</label>
							</div>
						</div>
						<div class="form-group col-md-6">
						    <h3>Clinic Type</h3>
						    <div class="checkbox">
							  	<label>
							    	<input type="checkbox" value="">
							    	Clinic Type
							  	</label>
							</div>
							<div class="checkbox">
							  	<label>
							    	<input type="checkbox" value="">
							    	IUI
							 	</label>
							</div>
							<div class="checkbox">
							  	<label>
							    	<input type="checkbox" value="">
							    	IVF
							 	</label>
							</div>
							<div class="checkbox">
							  	<label>
							    	<input type="checkbox" value="">
							    	Donor Conception
							 	</label>
							</div>
							<div class="checkbox">
							  	<label>
							    	<input type="checkbox" value="">
							    	Embryo testing
							 	</label>
							</div>
							<div class="checkbox">
							  	<label>
							    	<input type="checkbox" value="">
							    	Satellite & transport
							 	</label>
							</div>
							<div class="checkbox">
							  	<label>
							    	<input type="checkbox" value="">
							    	Research
							 	</label>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a href="/choose-a-fertility-clinic/clinics" role="button" class="btn btn-primary btn-lg">Search for clinic</a>
					</div>
				</form>
		  	</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<p>Your search found 5 clinics</p>
			</div>
			<div class="col-md-6 ">
				<p class="text-right">Distance</p>
			</div>
		</div>
		<div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active"><a href="#grid" aria-controls="grid" role="tab" data-toggle="tab">Grid</a></li>
			    <li role="presentation"  class=""><a id="map-tab" href="#map" aria-controls="map" role="tab" data-toggle="tab">Map</a></li>
			</ul>
			<!-- Tab panes -->
		  	<div class="tab-content">
		  		<div role="tabpanel" class="tab-pane active" id="grid">
				{{ include ('partials/clinic-listing.html',{
						clinics: [
							{
								title: "Barts Health Centre for Reproduction Medicine",
								type: "Treatment Centre",
								treatments: [
									{
										tag: "IVF"
									},
									{
										tag: "ICSI"
									},
									{
										tag: "IUI"
									}
								],
								review_rating: "4",
								reviewers: "25 user reviews",
								success_rate : "30",
								image: "http://placehold.it/300x240"	
							},
							{
								title: "Barts Health Centre for Reproduction Medicine",
								type: "Treatment Centre",
								treatments: [
									{
										tag: "IVF"
									},
									{
										tag: "ICSI"
									},
									{
										tag: "IUI"
									}
								],
								review_rating: "3",
								reviewers: "25 user reviews",
								success_rate : "30",
								image: "http://placehold.it/300x240"	
							},
							{
								title: "Barts Health Centre for Reproduction Medicine",
								type: "Treatment Centre",
								treatments: [
									{
										tag: "IVF"
									},
									{
										tag: "ICSI"
									},
									{
										tag: "IUI"
									}
								],
								review_rating: "3",
								reviewers: "25 user reviews",
								success_rate : "30",
								image: "http://placehold.it/300x240"	
							},
							{
								title: "Barts Health Centre for Reproduction Medicine",
								type: "Treatment Centre",
								treatments: [
									{
										tag: "IVF"
									},
									{
										tag: "ICSI"
									},
									{
										tag: "IUI"
									}
								],
								review_rating: "4",
								reviewers: "25 user reviews",
								success_rate : "30",
								image: "http://placehold.it/300x240"	
							},
							{
								title: "Barts Health Centre for Reproduction Medicine",
								type: "Treatment Centre",
								treatments: [
									{
										tag: "IVF"
									},
									{
										tag: "ICSI"
									},
									{
										tag: "IUI"
									}
								],
								review_rating: "4.5",
								reviewers: "25 user reviews",
								success_rate : "30",
								image: "http://placehold.it/300x240"	
							}
						]

					})
				}}
				</div>

		  		<div role="tabpanel" class="embed-responsive embed-responsive-16by9 tab-pane " id="map">
		  			Map View

		  			<div id="map" class="embed-responsive-item"></div>
		  		</div>
		  	</div>
		</div>
	</div>
</div>