
<div class="hp-header bg-lightgrey container">
	<div class="hp-bg"></div>
	<div class="row">
		<div class="col-md-6 headline">
			<h1>
				Regulating fertility treatments for you
			</h1>
			<p>
			The Human Fertilisation and Embryology Authority is the UK's independent regulator overseeing fertility treatment and research. 
			</p>
			
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 headline">
			<ul class="list-unstyled">
				<li class="	">
					<a href="/treatments"><span class="lime-arrow glyphicon glyphicon-play"></span>About fertility treatment</a>
				</li>
				<li class="	">
					<a href="#"><span class="lime-arrow glyphicon glyphicon-play"></span>How we regulate treatments</a>
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<h2 class="black-text">
				How can we help?
			</h2>
			<form class="form-inline">
				<div class="form-group">
					<input class="form-control" placeholder="What's your situation?" />
					<input type="submit" class="btn btn-default teal-bg" value="Go" />
				</div>
			</form>

		</div>
	</div>
</div>
<div class="container ">	
	<h2 class="black-text">
		Information about:
	</h2>

	{{ include('partials/nav-block.html', {
			class: 'plain',
			nav: [
				{
					link: "Problems conceiving",
					href: "/problems-conceiving"
				},
				{
					link: "A clinic you have been referred to"
				},
				{
					link: "Chances of success"
				},
				{
					link: "Choosing a clinic",
					href: '/find-a-clinic'
				},
				{
					link: "Eligibility and funding",
					href: '/treatments/funding'
				},
				{
					link: "Accessing support and advice ",
					href: '/treatments/emotional-support'
				}
			]
		})
	}}
	<div class="row">
		<div class="col-md-6 pb-30">
			<h2 class="black-text">World first as mitochondrial donation regulations come into force </h2>
			<div class="embed-responsive embed-responsive-16by9">
					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dvnoETuNZBA" frameborder="0" allowfullscreen></iframe>
					</div>
			<p class="pt-30">
			To help you through what many people describe as the ‘emotional rollercoaster’ of infertility treatment, you may want to consider joining a support group. There you will find people in similar circumstances to your own, who will understand what you are going through. 
			</p>
			<p>
				Today the UK becomes the first country to license ground breaking mitochondrial donation techniques which will allow women who carry the risk of serious mitochondrial disease to avoid passing it onto their children.
			</p>
			<a class="standard-link"  href="#">
				Find out more about mitochondrial donation 
			</a>
		</div>
		<div class="col-md-6">
			<img class="img-responsive" src="/theme/assets/images/content/hp-book.png" alt="text">
			<div class="bg-lightgrey">
				<h3 class="black-text">2015 multiple births report</h3>
				<p>
					HFEA regulates all 140 fertility clinics in the UK, offering private and NHS funded treatments. We can help you to choose a regulated clinic that is best for your needs. 
				</p>
				<a class="standard-link"  href="#">Read the report</a>
			</div>
			<div class="row">
				<div class="col-md-6 pr-0">
					<div class="teal-bg p-20">
						<h4>Find out more</h4>
						<p>
							HFEA regulates all 140 fertility clinics in the UK. We can help you to choose a regulated clinic that is best for your needs. 
						</p>
						<a href="#">Read the report</a>
					</div>
				</div>
				<div class="col-md-6 pl-0">
					<img class="img-responsive" src="/theme/assets/images/content/hp-ladies.png" alt="text">
				</div>
			</div>
		</div>
	</div>
		<div class="bg-lightgrey text-center">
			<h2 class="black-text">Donors and donor conception</h2>
			<p>
				6% of couples seeking fertility treatment will require donor sperm or eggs All same sex couples and single women require donor sperm of eggs Using sperm and eggs from a regulated UK clinic offers assurance and legal protection 
			</p>
			<a href="#" class="btn btn-default">
				Find out more about donor conception 
			</a>
		</div>
	<div class="row">
		<div class="col-md-6">
			<h3 class="black-text">Heterosexual couples</h3>
			<a href="/treatment-for-straight-couples">
				<img class="img-responsive mb-20" src="/theme/assets/images/content/HetrosexualCouple.jpeg" alt="text">
			</a>
			<p>
				Your step by step guide to fertility treatment, from when to see your doctor to choosing the perfect clinic.
			</p>
			<a class="standard-link btn-block"  href="/treatment-for-straight-couples">Read more</a>
			<a class="standard-link" href="/treatment-for-straight-couples">Ellie and James’ story</a>
		</div>
		<div class="col-md-6">
			<h3 class="black-text">Women over 38</h3>
			<a href="#">
				<img class="img-responsive mb-20" src="/theme/assets/images/content/WomanOver.jpg" alt="text">
			</a>
			<p>
				Support and advice for women looking to have children in later life, including your treatment options and chances of having a baby.
			</p>
			<a class="standard-link btn-block"  href="#">Read more</a>
			<a class="standard-link"  href="#">Catherine and Pete’s story</a>
		</div>
	</div>
</div>