
<a href="/treatments/treatment-options/in-vitro-fertilisation">IVF</a>	
<a href="/treatments/treatment-options/patient-case-study">Patient Case study</a>	
{{ 
	include ('partials/page-header-bg.html', {
    	title: 'An overview of fertility treatment'
	}) 
}}
{{ include ('partials/intro-block.html', {
    text: 'Around X people have fertility treatment in the UK each year. Fertility treatments fall into three broad categories: drugs which boost the number of eggs a woman produces; assisted conception which involves manually fertilising your eggs outside the body or surgery to address a problem in the body, such as a blocked fallopian tube. Your treatment may involve one, two or all three of these approaches depending on your situation and the reason you’re having treatment. '
}) }}
{{ 
	include('partials/section-heading.html', {
		title: 'Choosing the right treatment ',
	})
}}
<p>
	Your GP or clinic should be able to advise you on the best treatment option for you. Some couples and individuals will start by trying one type of treatment, such as IVF, and if that’s not successful will then look at other options such as IUI, surrogacy or using donated eggs or sperm in their treatment. You might also want to consider having additional treatments such as embryo testing if you have a serious inherited disease in your family. 
</p>
{{ 
	include('partials/section-heading.html', {
		title: 'Fertility treatments: ',
	})
}}
<h4>
	IVF 
</h4>
<p>
	IVF is the most common form of treatment. Around 50,000 women have IVF in the UK each year using either their partner or a donor’s sperm and that number continues to grow.
</p>
<h4>
	Fertility drugs
</h4>
<p>
	Fertility drugs are often used in other treatments such as IVF and IUI, but they can also be used by themselves to increase the number of eggs or sperm available (because you have an irregular cycle for example).
</p>
<h4>
	IUI
</h4>
<p>
	
Intrauterine insemination is the main treatment used by people who are using donor sperm in their treatment, including single women and female couples. Around X women have IUI treatment each year. 
Surgery 
</p>
<p>
	
In some cases, surgery can be used to correct or reverse sterilisation. So fallopian tubes can be unblocked using keyhole surgery and for men who cannot produce sperm (if they have had a vasectomy for example), sperm can be collected surgically for use in fertility treatment.
</p>
<h4>
	
Surrogacy 
</h4>
<p>
	
Surrogacy is an option if you have a medical condition which makes it dangerous or impossible for you to give birth such as problems in the womb or if you’ve had multiple miscarriages. It’s also the used by gay couples who want to have a family. 
</p>
<h4>
	
Less common treatments 
</h4>
<p>
	
A small number of people have less common treatments including gamete intra fallopian transfer (GIFT) and reproductive immunology. Not all of these have been proven to work well so make sure you have all the facts before agreeing to treatment. 
</p>
{{
	include('partials/blockquote.html', {
		width: '12',
		class: 'teal-bg',
		img: 'mother-and-baby.jpg',
		bodytext: 'My advice to other women getting fertility treatment is to not underestimate the amount of time it takes. My husband and I had been trying for 18 months when we were referred to a specialist and at that point we were feeling pretty desperate! In the end we had to have three cycles of IVF and happily gave birth to our wonderful boy last year but in total it took over four years from when we were ready to have children to having our son.',
		linktext: 'Read Mary\’s story',
	})
}}
</div>



