<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="umbracoDbDSN" connectionString="Server=localhost;Database=;user id=sa;password="
		providerName="System.Data.SqlClient"/>
	<add name="HfeaEntities" connectionString="data source=localhost;initial catalog=;user id=sa;password="
		providerName="System.Data.SqlClient"/>
	<!-- Important: If you're upgrading Umbraco, do not clear the connection string / provider name during your web.config merge. -->

</connectionStrings>