<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="umbracoDbDSN" connectionString="Server=tcp:somedbserver.database.windows.net,1433;Database=ifq-website-umbraco;User ID=;Password=;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
     providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  <add name="HfeaEntities" connectionString="data source=tcp:somedbserver.database.windows.net,1433;initial catalog=hfea.website.application;user id=;password=;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  <!--data source=somedbserver.database.windows.net;Initial Catalog=ifq-website-umbraco;User=;Password=-->
</connectionStrings>