<?xml version="1.0"?>
<hfea>
    <keyPages 
      clinicProfile="1133"
      changesDisapprovalEmail="1127"
      commentSubmissionEmail="1289"
      codeOfPractice="1130"
      copRegulatoryPrinciples="1205"
      footerSettings="1153"/>
  
    <keyDocTypes
      cafcSearchResults="CaFCSearchResults" />

  <regex
      email="^[a-zA-Z0-9'_-]+(?:\.[a-zA-Z0-9'_-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$"
    />

  <search>
    <searchProvider
    indexer="FullSearchIndexer"
    provider="FullSearchSearcher"
    />
    <indexedDocTypes>
      <add name="AudienceLandingPage" />
      <add name="CafcSearch" />
      <add name="CaFCSearchResults" />
      <add name="ContentPage" />
      <add name="StandardLandingPage" />
      <add name="TreatmentLandingPage" />
    </indexedDocTypes>
    <indexedSearchFields>
      <add name="bodyText" />
      <add name="topGrid" />
      <add name="fullWidthGrid" />
      <add name="bottomGrid" />
    </indexedSearchFields>
  </search>
</hfea>
