<?xml version="1.0"?>
<hfea xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
<keyPages xdt:Transform="SetAttributes()"
        codeOfPractice="1130"
        copRegulatoryPrinciples="1205"
        clinicProfile="1133"
        footerSettings="1153"
        commentSubmissionEmail="1289"       
        />
</hfea>