@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using HFEA.Core;
@{ 

    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
    Request.ApplicationPath.TrimEnd('/');
    string currentPageTitle = CurrentPage.pageTitle;

    string currentPageUrl = baseUrl + Model.Content.Url;
}
    <ul class="list-unstyled list-inline social-sharing mb-100">
        <li>
            <a href="mailto:?subject=Shared content from the HFEA – @currentPageTitle&body=Here is some useful information from the Human Fertilisation and Embryology Authority – they are the UK’s independent regulator overseeing fertility treatment and research. %0D%0A%0D%0A @currentPageTitle %0D%0A%0D%0A @currentPageUrl %0D%0A%0D%0AKind Regards">
                <span class="hfea-icon-mail"></span>
                Send to a friend
            </a>
        </li>
        <li>
            <a href="javascript:window.print()" class="print-button">
                <span class="icon print"></span>
                Print this page
            </a>
        </li>
        <li class="share_this">
            <a href="/" class="" id="share_this">
                <span class="icon share"></span>
                Share
                <div class="sharethis_wrapper">
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                    <span class='st_google_bmarks_large' displayText='Bookmarks'></span>
                    <span class='st_google_translate_large' displayText='Google Translate'></span>
                </div>
            </a>
        </li>
    </ul>