<div class="panel-group accordion" id="accordion" role="tablist" aria-multiselectable="true">
  	{% for panel in panels %}
  	<div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="heading{{loop.index}}">
	      <h4 class="panel-title">
	        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}" class="{% if loop.first %} {% else %} collapsed {% endif %}">
	          {{panel.title}}
	          	<span>
	          		
	          	</span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse{{loop.index}}" class="panel-collapse collapse {% if loop.first %}in{% endif %}" role="tabpanel" aria-labelledby="heading{{loop.index}}">
	      <div class="panel-body">
	        {{panel.text}}
	      </div>
	    </div>
	  </div>
    {% endfor %} 
</div>