<section class="blockquote ps-30 mb-50 {{class}}">
		<div class="row">
			<div class="col-md-3">
				<img class="img-circle" src="/theme/assets/images/content/{{img}}" alt="" />
			</div>
			<div class="col-md-9">
				<blockquote>
					<!--commented out as not in new designs <span class="quote-mark">&ldquo;</span>-->
					<p>
						{{bodytext}}
					</p>
					<!--<span class="quote-mark closing">&rdquo;</span>-->
					<footer>
						{{name}}
					</footer>
				</blockquote>
				<p class="text-right link">
					<a href="{{href}}">{{linktext}}</a>
				</p>
			</div>
		</div>

</section>