
<div class="rangeChart"  data-min-range="{{min_range}}" data-max-range="{{max_range}}" data-nat-ave="{{nat_ave}}" data-mean="{{mean}}" >

	<div class="range"></div>
	<div class="mean"></div>
	<!--<div class="nat-ave"></div>-->
</div>
<div class="row">
	<div class="col-md-6">
		
<p>	
	<span class="rating-icon teal"></span>
	500 cycles 
</p>
<p>	
	<span class="rating-icon lime"></span>
	Birth rate 
</p>
<p>	
	<span class="rating-icon grey"></span>
	National birth rate
</p>
	</div>
	<div class="col-md-6">
		<p>
			Range: <span class="min_range">{{min_range}}</span> - <span class="max_range">{{max_range}}</span> %
		</p>
		<!--<p>
			Mean: <span class="mean_label">{{mean}} </span> %
		</p>-->
		<p>

			National Average: <span class="nat_ave">{{nat_ave}}</span> %
		</p>
	</div>
</div>