
	{{ 
		include ('partials/page-header-bg.html', {
	    	title: 'Advice for straight couples:   get started with fertility treatment',
		}) 
	}}
	{{ include ('partials/intro-block.html', {
	    text: 'If you need treatment to have a family, working out how to start that process can feel very daunting. This page will talk you through some of the key issues you’ll need to consider to help you make the right decisions for you and your family. '
	}) }}

	{{ 
		include('partials/section-heading.html', {
			title: 'Talk to your GP',
		})
	}}
	<p>
		If you haven’t already, it’s worth speaking to your GP about fertility treatment even if you’ve decided to have treatment privately. In addition to advising you on whether you can be treated on the NHS, they’ll be able to refer you for <a href="#">some initial tests</a> and give you an overview of the main treatment options.  
	</p>

	{{ 
		include('partials/section-heading.html', {
			title: 'Think about funding',
		})
	}}
	<p>
		Consider if you want to try and get treatment on the NHS, or pay to have it done privately. Eligibility criteria for NHS funding varies across the country – talk to your GP about what’s available in your area. There are also big variations in costs for private treatment so it’s worth shopping around. <a href="/treatments/funding"> Find out more about funding options. </a>
 
	</p>

	{{ 
		include('partials/section-heading.html', {
			title: 'Understand your treatment',
		})
	}}
	<p>
		The majority of couples with fertility problems have IVF, but there are other less common treatments you might want to consider. The right treatment for you will depend on your specific circumstances. <a href="/treatments">Find out more about IVF</a>  or <a href="/treatments"> explore other fertility treatments.</a>  
	</p>
	<p>
		All fertility treatments have risks so make sure you understand what they are before starting treatment. <a href=""> Find out more about the risks.</a>
 
	</p>

	{{ 
		include('partials/section-heading.html', {
			title: 'Find a donor (if using)',
		})
	}}
	<p>
		If you’re unable to produce your own eggs or sperm you will probably need to use a donor in your treatment. Make sure you get donated eggs or sperm in a safe way and that you understand the legal implications of using a donor. <a href=""> Find out more about using a donor. </a>
 
	</p>

	{{ 
		include('partials/section-heading.html', {
			title: 'Choose your clinic',
		})
	}}
	<p>
		Quality of treatment and success rates at clinics vary so it’s important that you do your research. You can search and compare success rates and other clinic information on our website to help you make an informed decision. <a href="/choose-a-fertility-clinic">Search and compare clinics.</a> 

	</p>
	{{ 
		include('partials/section-heading.html', {
			title: 'Get support and advice',
		})
	}}
	<p>
		Fertility treatment can be a difficult journey – don’t go it alone. There are lots of support groups you can join or you can work with a counsellor. All clinics licenced by us are required to offer you counselling in any case. <a href=""> Find out more about getting support. </a> 

	</p>
	{{ 
		include('partials/section-heading.html', {
			title: 'How you can help others ',
		})
	}}
	<p>
		<img class="pull-right" src="/theme/assets/images/content/TreatmentStraightCouples.jpg" alt="text"/>
		Depending on the type of treatment you have, you may have leftover eggs or embryos which you don’t want to use yourself. At this point you can choose to donate your embryos or eggs to other women or couples in need. Some clinics also offer discounted treatment for women who donate their fertility in this way – talk to your clinic for further info.   

	</p>
	<p class="mb-50">
		<a href="#">
		 	Download our Getting Started guide for clear, informed and impartial advice about every stage of your treatment journey 
		 </a>
	</p>
	<div class="row mb-50">
		<div class="col-md-6">
			{{ 
				include('partials/statistic.html', {
					stat: '1 in 3',
					text: 'women under 35 have a baby after undergoing IVF with their own fresh eggs'
				})
			}}
		</div>
		<div class="col-md-6">
			{{ 
				include('partials/spotlight-bg.html', {
					title: 'Managing your expectations ',
					background: '',
					body: 'It’s not easy to hear, but sadly fertility treatment doesn’t work for most people. Managing your expectations now will make it much easier if you do have a disappointing result and you’ll be better prepared for taking next steps. <a href=""> What to do if treatment’s unsuccessful.</a>'
				})
			}}
		</div>
	</div>
	{{
		include('partials/blockquote.html', {
			width: '12',
			class: 'teal-bg',
			img: 'mother-and-baby.jpg',
			bodytext: 'Get help from everywhere: friends, family, local groups, online, counsellors, doctors. Knowing I had people behind me every step of the way made it that much easier to brush myself off after a disappointment.',
			linktext: 'Read Susan\'s story',
		})
	}}
</div>

