<div ng-controller="hfea.footerBlock">
    <h3><textarea rows="1" umb-auto-resize="" umb-auto-focus="" class="textstring input-block-level" ng-model="control.header" ng-attr-style="{{control.editor.config.style}}" localize="placeholder" placeholder="add header..."></textarea></h3>
    <p><textarea rows="1" umb-auto-resize="" umb-auto-focus="" class="textstring input-block-level" ng-model="control.headerLink" ng-attr-style="{{control.editor.config.style}}" localize="placeholder" placeholder="add optional url..."></textarea>
    </p>
    <div unique-id="control.$uniqueId"
            value="control.value"
            grid-rte configuration="control.config.rte">
    </div>
</div>


