@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
<aside class="spotlight @Model.styleColor.id">
	<p>
		<span class="header">
			@Model.header
		</span>
		<span class="text">
			@Model.value
		</span>
	</p>
</aside>