@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@{
    dynamic media = null;
    string background = Model.styleColorLeft.id;

    var image = Model.value.image.id;
    int tmp = 0;
    if (image != null && int.TryParse(image.ToString(), out tmp))
    {
        media = Umbraco.Media(tmp);
    }

}
<div class="col-lg-3 side-col col">
    <div>
        <div class="toggle">
            <aside class="@background img_blockquote">

                @if (tmp > 0)
                {
                    <img alt="Quote" src="@media.umbracoFile" class="img-circle">
                }

                <blockquote>
                    <p>
                        @Html.Raw(Model.value.lefttext)
                    </p>
                    <footer>
                        @Model.leftfooter
                    </footer>
                </blockquote>
            </aside>
        </div>
    </div>
</div>
