@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!doctype html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"> 
    <link href="/theme/assets/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div class="main">
	@RenderBody()
	</div>
    <script src="/theme/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/theme/assets/js/bootstrap.min.js"></script>
    <script src="/theme/assets/js/plugins.js"></script>
</body>
</html>